body {
    background-image: url("../images/bk6.jpg");
    /* background: #DAE2F8;  
background: -webkit-linear-gradient(to bottom, #D6A4A4, #DAE2F8);  
background: linear-gradient(to bottom, #D6A4A4, #DAE2F8); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* font-family: 'Spirax', cursive; */
    font-family: 'Zeyada', cursive;
   
}

body, h3 {
    font-size: 2rem;
}

.jumbotron {
    background-color: rgba(255, 255, 255, 0.0);
}

.card {
    background-image: url("../images/bk6.jpg");

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.fas {
    color: #B66D71;
}

.fas:hover {
    color: rgb(160, 96, 99);
}

.btn {
    font-size: 1.5rem;
}

/* #gifs-appear-here {
    color: #E4D365; #e6ff83
} */